// ========================================
// _typo-scale-controller.scss
// ========================================

// ====== input parameters

$responsiveBaseFontSize: (
  baseSize: 17,
  incrementFactor: 0.99
);

$customFontSizeScale: (
  r: 1.25,
);

