
// _color-logic.scss

// Loop per generare variabili globali
@each $color-name, $color-value in $colors {
  // Utilizza il nome dinamico per definire le variabili
  @if type-of($color-value) == 'color' or type-of($color-value) == 'string' {
    // Definisce le variabili di colore dinamicamente
    $global-variable-name: unquote($color-name);
    $global-variable-name: $color-value !global;
  }
}

:root {
  @each $color-name, $color-value in $colors {
    @if $color-name == 'gradient' {
      --bs-gradient: #{$color-value};
    }
  }
}

// mixin per le classi colore
@mixin generate-color-classes {
  @each $color-name, $color-value in $colors {
    @if type-of($color-value) == 'color' {
      .bg-#{$color-name} {
        background-color: $color-value;
      }
    } @else if type-of($color-value) == 'string' { // I gradienti sono definiti come stringhe
      .bg-#{$color-name} {
        background-image: $color-value; // Specifica che si tratta di un'immagine
      }
    }

    .text-#{$color-name} {
      color: $color-value;
    }

    .border-#{$color-name} {
      border-color: $color-value;
    }

    .fill-#{$color-name} {
      fill: $color-value;
    }
  }
}

@include generate-color-classes;
