
// ========================================
// _color-controller.scss
// ========================================

$colors: (
  "yellow": #fbb03b,
  "red": #EC4040,
  "green": #56ca71,
  "orange": #ff6552,
  "light-blue": #67a1ff,
  "very-light-blue": #c5ebff,
  "purple": #8d80ff,
  "aqua": #44cdd0,
  "turquoise": #02B399,
  "pink": #ffbfbe,
  "black": #12131D,
  "white": #fef4f2,
  "pure-white": #ffffff,
  "pure-black": #000000,
  "gradient": linear-gradient(to bottom, #000, #22092C, #000),
  "gradient-2": linear-gradient(to bottom, #000, #22092C)
) !global;

@function get-color($color-name) {
  @return map-get($colors, $color-name);
}

$yellow: get-color("yellow");
$red: get-color("red");
$green: get-color("green");
$orange: get-color("orange");
$light-blue: get-color("light-blue");
$very-light-blue: get-color("very-light-blue");
$purple: get-color("purple");
$aqua: get-color("aqua");
$turquoise: get-color("turquoise");
$pink: get-color("pink");
$black: get-color("black");
$white: get-color("white");
$pure-white: get-color("pure-white");
$pure-black: get-color("pure-black");
$gradient: get-color("gradient");
$gradient-2: get-color("gradient-2");
