
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Unica+One');

.paragraph {
    font-family: 'Crimson Text', serif;
    line-height: 1.21;
}

.heading {
    font-family: 'Unica One', cursive;
    font-weight: 400;
    line-height: 0.94;
    text-transform: uppercase;
}
            