// custom.scss

/* variable usage example
    background-color: var(--primary-dark);
*/

/* Fadein animation */
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    animation: fadein 0.5s ease-in-out;
}

.row>* {
    opacity: 0;
}

footer .row>* {
    opacity: 1;
}

.transition {
    transition: opacity 0.3s ease-in-out;
}

#navbar-scroll {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out;
}

.navbar-toggler:focus, .navbar-toggler:focus-visible, .btn-close:focus, .btn-close:focus-visible {
    box-shadow: none;
}

#navbar-scroll.visible {
    transform: translateY(0);
}

.hero-slider {
    height: 80vh;
    background-size: cover;
    background-position: center;
}